.main_content
{
	--background: rgba(32, 32, 32, 0.9);
	background: url('https://e0.pxfuel.com/wallpapers/438/358/desktop-wallpaper-office-supplies-background-office-stationery.jpg') 0 0 / 100% no-repeat;
	background-size: cover;
}

.list
{
	background: none;
	height: 100%;
}
.list_item
{
	--background: none;
}
.list_card
{
	width: 30%;
}
